h2 {    
    color: orange;
    background-color: black;
}

.blue-text {
    background-color: navy;
}


.blue-box {
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: blue;
    display: inline-block;

}